
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	width: 100%;
	height: 100vh;
	background-color: #dadada;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}
.login {
  float: right;
}
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: blue;}

.dropdown:hover .dropdown-content {
  display: block;
  
}


img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.container {
	margin: 50px auto;
	height: 80%;
	width: 70%;
	box-shadow: 0 0 10px #bbb;
}

.main {
	height: 85%;
	position: relative;
}

.control {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 80px;
	color: white;
	cursor: pointer;
}

.prev {
	left: -10px;
}

.next {
	right: -10px;
}

.img-wrap {
	width: 100%;
	height: 100%;
}

.list-img {
	display: flex;
}

.list-img div {
	cursor: pointer;
	padding: 5px;
	background-color: #bbb;
	flex: 1;
}

.list-img div.active {
	background-color: rgb(220, 86, 86);
}

